.admin-category-detail{
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-small);
    margin-bottom: var(--space-ultra);
}
.admin-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-medium);
    margin-top: var(--space-ultra);
}


.admin-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

  }
  
  .admin-form input {
    margin-left: var(--space-small);
    width: 160px;
  }
  
  .admin-form input::placeholder {
    color: var(--swatch-grey);
  }
  
  .admin-form label {
    color: var(--color-secondary);
  }